//- home.pug
doctype html
html
  head
    title Chat App
    link(rel="stylesheet", href="/public/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js")
    script(src="/public/js/app.js", defer)
  body
    div#room(hidden)
      h3
      ul
      form#msg
        input(type="text", placeholder="메시지를 입력하세요", required)
        button(type="submit") 전송
      button#exchange-btn(type='button') 화해 완료!
