doctype html
html
  head
    title 사과 한 조각
    link(rel="stylesheet", href="/public/styles.css")
  body
    h1 사과 한 조각
    div#messages
      // 각 메시지를 텍스트로 출력
      p 나의 사과: #{messages[0]} 
      p 상대방의 사과: #{messages[1]} 
    a(href="/") 홈으로 돌아가기
