//- exchange-view.pug
doctype html
html
  head
    title 메시지 교환 결과
    link(rel="stylesheet", href="/public/styles.css")
  body
    h1 메시지 교환 결과
    div#messages
      ul
        each message in messages
          li= message
    a(href="/") 홈으로 돌아가기
