doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title 방 생성
    link(rel="stylesheet", href="/public/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js")
    script(src="/public/js/home.js", defer)
  body
    h1 심심한 사과 보내기
    div#welcome
      form
        button(type="submit") 방 생성
    div#room
      h3 방 ID:
      p#room-id 
      button#exchange-btn(type="button") 채팅방으로 이동
    div#waiting-message
