body {
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(147, 44, 0);
}
h2 {
    color: rgb(147, 44, 0);
}

button {
    padding: 10px;
    background-color: rgb(255, 133, 85);
    color: white;
    border: none;
    cursor: pointer;
}

#room {
    margin-top: 400px;
}
